
.main-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30vh;
}
.calculator-container{
    border-style: solid;
    border-color: black;
    border-width: 2px;
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.row-container{
    display: flex;
    flex-direction: row;
    align-items: center;

}
.num-button{
    
}
.opr-button{

}
.display {
    border-style: solid;
    border-color: black;
    border-width: 2px;
    color: black;
    border-radius: 10px;
    height: 1.5em;
    width: 90%;
    max-width: 90%;
    text-align: right;
    padding-top: .25em;
    padding-right: 10%
}