
.main-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30vh;
}
.calculator-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;



}
.row-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    

}
.display {
    border-style: solid;
    border-color: black;
    border-width: 2px;
    color: black;
    border-radius: 10px;
    height: 1.5em;
    width: 100%;
    max-width: 100%;
    text-align: right;
    padding-top: .25em;
    padding-right: 10%
}